includes:
    - .Build/vendor/saschaegerer/phpstan-typo3/extension.neon
parameters:
    level: 8
    excludePaths:
        - 'ext_emconf.php'
        - 'ext_localconf.php'
        - 'ext_tables.php'
 