<div class="row pt-3">
    <div class="col">
        <div class="accordion" id="probes-accordion">
            <f:for each="{result.probes}" as="probe" iteration="i">

                <f:comment><!-- Get background class variable --></f:comment>
                <f:variable name="bgClass"><f:spaceless>
                    <f:if condition="{probe.result.status} == 'SUCCESS'">
                        <f:then>success</f:then>
                        <f:else>danger</f:else>
                    </f:if>
                </f:spaceless></f:variable>

                <f:comment><!-- Single probe --></f:comment>
                <div class="accordion-item">
                    <f:comment><!-- Item header --></f:comment>
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed bg-{bgClass}" style="--bs-bg-opacity: .25; text-decoration: none;" type="buton" data-bs-toggle="collapse" data-bs-target="#collapse-{i.index}" aria-expanded="true" aria-controls="collapse-{i.index}">
                            <div class="d-flex justify-content-between align-items-center w-100 me-1 me-lg-5">
                                <span style="width: 300px;">
                                    <f:render partial="StatusIcon" arguments="{status: probe.result.status, margin: 'e', size: '24'}" />
                                    {probe.title}
                                </span>
                                <f:if condition="{probe.paused}">
                                    <f:then>
                                        <f:render partial="Paused" arguments="{probeClass: probe.fqcn}" />
                                        <f:render partial="Playing" arguments="{probeClass: probe.fqcn, displayClass: 'd-none'}" />
                                    </f:then>
                                    <f:else>
                                        <f:render partial="Paused" arguments="{probeClass: probe.fqcn, displayClass: 'd-none'}" />
                                        <f:render partial="Playing" arguments="{probeClass: probe.fqcn}" />
                                    </f:else>
                                </f:if>
                                <span>
                                    <f:render partial="Duration" arguments="{duration: probe.result.duration}" />
                                </span>
                            </div>
                        </button>
                    </h2>
                    <f:comment><!-- Item body --></f:comment>
                    <div id="collapse-{i.index}" class="accordion-collapse collapse" data-bs-parent="#probes-accordion">
                        <div class="accordion-body">
                            <f:for each="{probe.result.messages}" as="message" iteration="i">
                                <p>
                                    <f:render partial="StatusIcon" arguments="{status: message.status, margin: 'e', size: '15'}" />
                                    <f:format.raw>{message.message}</f:format.raw>
                                </p>
                            </f:for>
                        </div>
                    </div>
                </div>
            </f:for>
        </div>
    </div>
</div>